.navbar-brand {
    font-size: 1.8rem;
    font-weight: bold;
}

.nav-link {
    font-size: 1.1rem;
    color: #000; 
    transition: 0.3s;
}

.nav-link:hover {
    color: #ff6600; 
}

.hero-section {
    background: url("kec1.jpg") no-repeat center center/cover;
    height: 80vh;
    color: white;
}

.hero-title {
    font-size: 2.5rem;
    font-weight: bold;
}

.hero-subtitle {
    font-size: 1.3rem;
    margin-bottom: 20px;
}

.btn-success {
    background-color: #28a745;
    border: none;
    padding: 8px 20px;
    font-size: 1rem;
}

.btn-success:hover {
    background-color: #ff6600;
}